        * {
            font-family: 'Outfit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            box-sizing: border-box;
        }

        html{
            scroll-behavior: smooth;
        }
        body {
            background-color: rgb(70, 134, 70);
            margin: 0;
            padding: 0;
        }

        label {
            font-size: 17px;
        }

        input[type="text"],
        input[type="date"],
        input[type="button"],
        button[type="submit"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #aaa;
            font-size: 16px;
            border-radius: 5px;
        }

        input[type="button"], button[type="submit"]{
            background-color: rgb(149, 247, 149);
            border-radius: 5px;
            border-style: none;
            cursor: pointer;
        }

      
        input[type="button"]:hover {
            background-color: rgb(26, 182, 26);
            color: white;
            transition: 0.3s;
        }

        button[type="submit"]:hover {
            background-color: rgb(26, 182, 26);
            color: white;
            transition: 0.3s;
        }

        table {
            border-style: solid;
            background-color: white;
            text-align: center;
            margin: 3rem auto;
            overflow-x: auto;
            display: block;
            width: 100%;
            max-width: 600px;
        }

        th, td {
            min-width: 40px;
            padding: 10px 3.5rem;
        }

        footer {
            text-align:center;
            color: white;
        }

        footer a:link{
            color: rgb(180, 226, 241);
        }

        footer a:hover{
            color:white;
            transition: 0.3s;
        }

        .content {
            width: 90%;
            max-width: 700px;
            margin: 3vh auto;
            padding: 1vh 7vh;
            background-color: rgb(211, 248, 211);
            border-radius: 5px;
            box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
        }

        .content h1 {
            text-align: center;
            color: rgb(70, 134, 70);
        }

        .content hr {
            border-color: rgb(70, 134, 70);
        }

        .form {
            padding: 3rem;
        }

        .input-group {
            max-width: 600px;
            margin: 0 auto 1rem;
        }

        .radiogroup {
            margin-bottom: 1em;
            max-width: 600px;
        }

        .radiogroup > div {
            flex-direction: column;
            gap: 8px;
            background-color: white;
            width: 100%;
            padding: 10px;
            border: 1px solid #aaa;
            font-size: 16px;
            border-radius: 5px;
        }

        .radiogroup label {
            display: inline-flex;
            gap: 8px;
            font-size: 16px;
          
        }

        .yearTable,
        .coursesTable {
            max-width: 600px;
            margin: 0 auto;
        }

        .coursesTable th,
        .coursesTable td {
        padding: 10px 1.5rem;
        min-width: 40px;
        }

        .receipt{
            display: none;
            background-color: white;
            padding: 2rem;
            margin-top: 3rem;
            max-width: 600px;
            border-style: solid;
        }

        .receipt button[type="submit"]{
            margin-top: 1.5rem;
        }

        .receipt hr{
            border-color: black;
            border-style: dashed;
        }

